html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: Roboto, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html h1,
body h1,
#root h1,
html h2,
body h2,
#root h2,
html h3,
body h3,
#root h3,
html h4,
body h4,
#root h4,
html h5,
body h5,
#root h5,
html h6,
body h6,
#root h6 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
}
#root {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}
.fLTbiF {
    font-size: 0.875rem;
    pointer-events: auto;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(130, 142, 160);
}
.gtvfKz {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.brCoKm {
    background-color: rgb(248, 249, 252);
    color: rgb(63, 73, 90);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    word-break: break-word;
    overflow-wrap: break-word;
    min-height: 100%;
}
.gBIxUd {
    width: auto;
    background-color: rgb(248, 249, 252);
}
.cSkQhk {
    width: 100%;
    background: rgb(255, 255, 255);
    height: 3.9375rem;
    display: flex;
    flex-direction: row;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(191, 198, 212);
    z-index: 100;
}
.jvZSBO {
    outline: 0px;
    user-select: none;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    background: transparent;
    border: medium none;
    padding: 0px;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    cursor: pointer;
}
.dtcQgF {
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(31, 37, 51);
    line-height: 1.75rem;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.img-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.img-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.img-modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .img-modal-content {
        width: 100%;
    }
}
.gLYoqV {
    height: 1.75rem;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
}
.brCoKm {
    color: rgb(63, 73, 90);
    word-break: break-word;
    overflow-wrap: break-word;
}
.jcwCWQ {
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(84, 95, 112);
    line-height: 1rem;
}
.iAEKFw {
    display: flex;
}
.jTJKJe {
    flex: 1 1 0%;
}
.blRQIx {
    padding-bottom: 10rem;
    background-color: rgb(248, 249, 252);
    max-width: 48rem;
    margin: auto;
    /* white-space: pre-wrap; */
}
.kYZfuZ {
    position: sticky;
    z-index: 21;
    margin-bottom: 0.5rem;
    /* top: 0px; */
}
.kSYIEK {
    background-color: rgb(248, 249, 252);
}
.hLlPJJ {
    width: 100%;
}
.kWyuDi {
    position: relative;
    outline: 0px;
    display: inline-block;
}
.bqdqKq {
    cursor: default;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}
.kSYIEK .select-value {
    width: 100%;
}
.bqdqKq .select-value {
    display: flex;
    flex-wrap: wrap;
}
.hZgdqC {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgb(191, 198, 212);
    cursor: pointer;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    background-color: rgb(248, 249, 252);
}
.gqAxJM {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(103, 93, 244);
    border: medium none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.bQzAit {
    flex-shrink: 0;
    width: 0.75rem;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgb(168, 36, 42);
}
.fPDdjU {
    width: 100%;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-right: 0.5rem;
}
.bBMTve {
    display: flex;
    gap: 0.5rem;
}
.hLZApJ {
    margin-left: 0px;
}
.kyEOXC {
    flex-shrink: 0;
    margin-left: 0.5rem;
    transition: transform 0.2s ease 0s;
}
.jcwCWQ {
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(84, 95, 112);
    line-height: 1rem;
}
.dxopML {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(31, 37, 51);
    line-height: 1.5rem;
    margin-right: 1rem;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.dkIXnY {
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.dWlTBc {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    border: 1px solid rgb(191, 198, 212);
    border-radius: 0.75rem;
    transition: opacity 0.3s ease 0s;
    position: relative;
    padding: 1rem 0px;
}
.iGjeXI {
    display: flex;
    -moz-box-align: baseline;
    align-items: baseline;
}
.ljnLdg {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 1rem;
    position: relative;
    min-height: 2.5rem;
}
.kYUEsK {
    display: block;
    width: 100%;
    color: rgb(31, 37, 51);
}
.dWlTBc > .QuestionInnerContainer {
    padding: 0px 1rem;
}
.cTGqGw {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    color: rgb(63, 73, 90);
}
.iiLOuT {
    width: 100%;
}
.hsbxkD .react-datepicker-wrapper {
    width: 100%;
}
.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
}
.hsbxkD .react-datepicker__input-container {
    width: inherit;
}
.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.iiLOuT input {
    border: 1px solid rgb(191, 198, 212);
}
.hsbxkD input {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.5rem;
    width: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    border: 1px solid rgb(191, 198, 212);
    background-color: rgb(255, 255, 255);
    color: rgb(31, 37, 51);
}
.hDVsDR {
    width: 100%;
    margin-top: 0.25rem;
}
.bJmYpV {
    display: flex;
    -moz-box-pack: end;
    justify-content: flex-end;
    width: inherit;
    padding: 0.75rem 0.75rem 0px;
}
.fyoKEo {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}
.eIqTdO {
    margin-left: 1rem;
    margin-right: 1rem;
}
.gIOqQk {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(103, 93, 244);
    border: medium none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.gIOqQk > .button_icon {
    margin-left: 0.5rem;
    margin-right: 0px;
}
.dVzWRr {
    margin: 0px;
    border: 1px solid transparent;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 22px;
    transition: background-color 200ms ease 0s;
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    color: rgb(71, 64, 212);
    background: transparent;
}
.jibPFy {
    display: flex;
    margin-right: 0.375rem;
}
.etYWGL {
    position: relative;
    display: inline-block;
}
.dVzWRr {
    margin: 0px;
    border: 1px solid transparent;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 22px;
    transition: background-color 200ms ease 0s;
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    color: rgb(71, 64, 212);
    background: transparent;
}
.jibPFy {
    display: flex;
    margin-right: 0.375rem;
}
.fyoKEo.fyoKEo > :not(:first-of-type) {
    margin-left: 0.25rem;
}
.dVzWRr {
    margin: 0px;
    margin-left: 0px;
    border: 1px solid transparent;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 22px;
    transition: background-color 200ms ease 0s;
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    color: rgb(71, 64, 212);
    background: transparent;
}
.jibPFy {
    display: flex;
    margin-right: 0.375rem;
}
.gEIQZu {
    width: 100%;
    border-color: rgb(191, 198, 212);
}
.hxhzuE {
    appearance: none;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.5rem;
    width: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    border: 1px solid rgb(191, 198, 212);
    border-top-color: rgb(191, 198, 212);
    border-right-color: rgb(191, 198, 212);
    border-bottom-color: rgb(191, 198, 212);
    border-left-color: rgb(191, 198, 212);
    color: rgb(31, 37, 51);
    background-color: rgb(255, 255, 255);
}
.mSXeo {
    appearance: none;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.5rem;
    width: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    border: 1px solid rgb(191, 198, 212);
    background-color: rgb(255, 255, 255);
    color: rgb(31, 37, 51);
}
.jrgQob {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.gqAxJM {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(103, 93, 244);
    border: medium none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.hDVsDR {
    width: 100%;
    margin-top: 0.25rem;
}
.kRvCBh {
    display: none;
    padding: 0px 0.75rem;
    margin-top: 1rem;
}
.kMPIlg {
    padding: 0px 0.25rem;
}
.gqIGVk textarea {
    width: 100%;
    margin-bottom: 0.5rem;
}
.mSXeo {
    appearance: none;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.5rem;
    width: inherit;
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    border: 1px solid rgb(191, 198, 212);
    background-color: rgb(255, 255, 255);
    color: rgb(31, 37, 51);
}
.czOQuo > button:not(:last-child) {
    margin-right: 0.5rem;
}
.cEDpxx {
    margin: 0px;
    margin-right: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(103, 93, 244);
    border: medium none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: inherit;
    opacity: 0.5;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.chnkCq {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(191, 198, 212);
    border-radius: 0.5rem;
    color: rgb(71, 64, 212);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.cjcaBg {
    margin: 0px;
    margin-right: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(103, 93, 244);
    border: medium none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.czOQuo > button:not(:last-child) {
    margin-right: 0.5rem;
}
.iSZloI {
    display: flex;
    flex-flow: column wrap;
    -moz-box-align: stretch;
    align-items: stretch;
    width: calc(100% + 1rem);
    margin: calc(-0.5rem) 0px 0px calc(-0.5rem);
}
.iSZloI button {
    width: calc(100% - 1rem);
    margin: 0.5rem 0px 0px 0.5rem;
}
.dvKLcp {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(19, 133, 95);
    border: 1px solid rgb(19, 133, 95);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.hUtmQb {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(191, 198, 212);
    border-radius: 0.5rem;
    color: rgb(71, 64, 212);
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.hUtmQb {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(191, 198, 212);
    border-radius: 0.5rem;
    color: rgb(71, 64, 212);
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.iXGbAw {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(198, 0, 34);
    border: 1px solid rgb(198, 0, 34);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.dPziny {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(112, 112, 112);
    border: 1px solid rgb(112, 112, 112);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.fehvTc {
    width: 100%;
}
.cBEPSE {
    width: 100%;
}
.etYWGL {
    position: relative;
    display: inline-block;
}
.gqAxJM {
    margin: 0px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(103, 93, 244);
    border: medium none;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    outline: 0px;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease 0s;
    user-select: none;
    word-break: normal;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}
.gqAxJM > .button_icon {
    margin-left: 0px;
    margin-right: 0.5rem;
}
.hHuzqj {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    text-indent: -999px;
}
.hiuMsG {
    display: flex;
    flex-wrap: wrap;
}
.gCLqFS {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}
.ikLXml {
    display: flex;
}
.ekAWcw {
    border-radius: 0.5rem;
    cursor: pointer;
    object-fit: cover;
    background: rgb(233, 238, 246);
    user-select: none;
}
.iokESV {
    width: 4rem;
    height: 4rem;
}
.ikLXml {
    display: flex;
}
@media (min-width: 36em) {
    .cSkQhk {
        position: fixed;
    }
    .hxhzuE {
        margin-right: 0.1rem;
    }
    .iiLOuT {
        width: 50%;
    }
    .iAEKFw {
        margin-top: 3.9375rem;
    }
    .kYZfuZ {
        top: 3.9375rem;
    }
    .gEIQZu {
        width: 50%;
    }
}
@media (min-width: 48rem) {
    .gtvfKz {
        height: 100vh;
    }
    .fehvTc {
        top: 1.5rem;
        right: 1.5rem;
        position: absolute;
        width: auto;
    }
    .cBEPSE {
        width: auto;
        float: right;
    }
    .kRvCBh {
        display: none;
        padding: 0px 1.25rem;
    }
    .bJmYpV {
        padding: 0.75rem 1.25rem 0px;
    }
    .dWlTBc {
        padding: 1.5rem 0px 1.25rem;
    }
    .dWlTBc > .QuestionInnerContainer {
        padding: 0rem 1.5rem;
    }
    .jvZSBO {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    .hZgdqC {
        border-left: 1px solid rgb(191, 198, 212);
        border-right: 1px solid rgb(191, 198, 212);
    }
    .jvZSBO svg {
        z-index: 2;
        position: relative;
    }
}
@media (min-width: 48.0625em) {
    .dkIXnY {
        margin-left: 0px;
        margin-right: 0px;
    }
    .eIqTdO {
        margin-left: 0px;
        margin-right: 0px;
    }
}
